1. You have segmented your customers by using clustering algorithm and the results are stored in the labels column. What promotion strategy you’ll recommend to the marketing division?

In [1]:
import pandas as pd
import numpy as np

In [3]:
costumer = pd.read_csv('Mall Customers.csv')
costumer

,Unnamed: 0,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Label
0,0,1,Male,19,15,39,0
1,1,2,Male,21,15,81,4
2,2,3,Female,20,16,6,0
3,3,4,Female,23,16,77,4
4,4,5,Female,31,17,40,0
...,...,...,...,...,...,...,...
195,195,196,Female,35,120,79,1
196,196,197,Female,45,126,28,2
197,197,198,Male,32,126,74,1
198,198,199,Male,32,137,18,2
199,199,200,Male,30,137,83,1

In [6]:
costumercpy = costumer.copy

In [8]:
costumercpy.groupby(by=['Label'])[['Annual Income (k$)', 'Spending Score (1-100)']].mean()

AttributeError: 'function' object has no attribute 'groupby'